.category-list-container {
    width: 100%;
}

.category-list-cards {
    margin-inline: var(--primary-margin);
    margin-block: 4rem;
    color: #ffffff;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.category-title {
    margin-block: 4rem 0;
    display: flex;
    justify-content: center;
    
    & h1 {
        color: white;
    }
}