.about-container {
    background-color: #3f3f3f;
    height: 77vh;
}

.about-inner {
    /* margin-inline: var(--primary-margin); */
    color: white;
    padding-block: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-text {
    width: 50%;
    
    & > p {
        font-weight: bold;
        margin-bottom: 40px;
    }
    
    & li {
        margin-bottom: 30px;
    }
}