.about-container {
    background-color: #2F3335;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
}

.about-inner {
    color: white;
    padding-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-text {
    width: 50%;
    
    & > p {
        font-weight: bold;
        margin-bottom: 40px;
    }
    
    & li {
        margin-bottom: 30px;
    }
}