.navbar-container {
    background-color: #27374D;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1rem
}   

.navbar-buttons {
    margin-left: auto;
    display: flex;

    & a {
        padding: 0.4rem;
        color: white;
        margin-right: 1rem;
    }
    & a.active {
        color: #4A55A2;
    }
    & a:hover {
        color: #4A55A2;
        transition: all .1s ease-in-out;
    }
}

.navbar-auth {
    margin-right: var(--primary-margin);
    display: flex;

    .auth-button {
        padding: 6px 30px;
        border-radius: 25px;
        color: white;
    }
    
    & .login {
        margin-right: 1rem;
        background-color: #666666;
    }

    & .register{
        background-color: #444444;
        color: rgba(255, 255, 255, 0.75);
    }

    :hover {
        transition: all .2s ease-in-out;
        background-color: #999999;
        cursor: pointer;
    }
}

.navbar-icon {
    width: 50px;
    height: 50px;
    margin-left: var(--primary-margin);
    
    & img {
        max-width: 100%
    }
}

@media (max-width: 600px) {
    .navbar-container {
        font-size: 0.7rem;
        height: 6vh;
    }

    .navbar-icon {
        width: 30px;
        height: 30px;
        margin-left: 0;
    }

    .navbar-buttons {
        margin-left: 5px;
        /* flex-grow: 1; */

        & a {
            margin-right: 0.6rem;
        }
    }

    .navbar-auth {
        display:flex; 
        margin-right: 0;

        & .login {
            margin-right: 0;
        }

        & .auth-button {
            padding: 4px 5px;
            font-size: 10px;
        }
    }

}