
.landing-container {
    height: 100%;
}

.banner {
    height: auto;
    width: 100%;
    background-color: #3f3f3f;
    display: flex;

}

.banner-inner {
    margin-inline: var(--primary-margin);
    margin-block: 4rem;
    display: flex;
    height: 100%;
    width: 100%;
}

.banner-text {
    width: 50%;
    color: white;
    text-align: left;
    
    & h3 {
        font-size: 39px;
        font-weight: 400;
    }

    & h2 {
        margin-bottom: 35px;
        font-size: 47px;
        font-weight: 500;
    }

    & p {
        margin-bottom: 5px;
        font-size: 23px;
    }
}

.banner-picture {
    width: 50%;
    justify-content: center;
    display: flex;

    & img {
        max-height: 100%;
        max-width: 100%;
        width: 60%;
        height: 100%;
    }
}





