.category-container {
    margin-inline: var(--primary-margin);

}

.category-list-cards {
    margin-inline: var(--primary-margin);
    margin-block: 4rem;
    color: #ffffff;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.category-searcher {
    margin: 4rem 0;
    display: flex;
    justify-content: center;
}

input {
    width: 30rem;
    height: 40px;
    border-radius: 20px;
    border: 1px solid white;
    color: white;
    background: none;
    padding: 16.5px 14px;
}

input:focus {
    outline-color: white;
}

#buscarBtn {
    padding: 8px 30px;
    font-size: 16px; 
    background-color: #3498db;
    color: #ffffff; 
    border: none;   
    border-radius: 5px; 
    cursor: pointer;

    & i {
        margin-left: 5px;
    }
}

#buscarBtn:hover {
    background-color: #2980b9; 
}

@media (max-width: 600px) {
    .category-list-cards {
        margin-block: 1rem 0;
        grid-template-columns: repeat(2, 1fr);
    }

    .css-dpjtiw-MuiPaper-root-MuiCard-root {
        width: 139px !important;
        margin-bottom: 30px !important;
        font-size: 14px !important;
    }

    .css-46bh2p-MuiCardContent-root {
        padding: 6px !important;

        & p {
            font-size: 10px;
        }

        & .css-o69gx8-MuiCardMedia-root {
            width: 100px !important;
            height: 100px !important;
        }

        & .css-h93ljk-MuiTypography-root {
            font-size: 12px;
        }

        & .css-16thyp8-MuiTypography-root, b {
            font-size: 9px;
            margin-bottom: 5px;
        }
    }

    .category-searcher {
        margin: 1rem 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    input {
        width: 10rem;
        height: 13px;
        padding: 13px 12px;
        font-size: 12px; 
    }
    
    #buscarBtn {
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 4px 5px;
        font-size: 10px; 
        & i {
            margin-left: 3px;
        }
    }
}